[OCI_Identity_Provider]
tenancy_name =
tenancy_ocid =
compartment_ocid =
iddomain =
idname =
idurl =
groups =
par_request =
client_id =
client_secret =
bucket_name = 
app_id = 

[OCI_Service_Provider]
tenancy_name =
tenancy_ocid =
compartment_ocid =
iddomain =
idname =
idurl =
idp_type = 
idp_metadata_url =
client_id = TBD
client_secret = TBD
bucket_namespace = 
bucket_name = 
par_request = TBD

